
<!DOCTYPE html>
<html class="center">
  <head>
    <title>dunp</title>
    <meta charset="utf-8">
  </head>
  <body>

    <div id="stage"></div>

    <link rel="stylesheet" href="editor/css/class.css">
    <link rel="stylesheet" href="editor/css/id.css">
    <link rel="stylesheet" href="editor/css/index.css">
    <link rel="stylesheet" href="editor/css/root.css">

    <script src="motor/M.js"></script>
    <script src="motor/html.js"></script>
    <script src="motor/toolbox.js"></script>

    <script src="motor/stage/calculate.js"></script>
    <script src="motor/stage/reroot.js"></script>
    <script src="motor/stage/update.js"></script>

    <script src="editor/js/E.js"></script>
    <script src="editor/js/base.js"></script>
    <script src="editor/js/click.js"></script>

    <script src="editor/js/blocks/views/main.js"></script>
    <script src="editor/js/blocks/views/project.js"></script>

    <script src="editor/js/index.js"></script>

  </body>
</html>

