
<!DOCTYPE html>

<html class="center">

  <head>
    <title>template</title>
    <meta charset="utf-8">
  </head>

  <body>

    <!--.............................................................................................................-->

    <div id="screen"></div>

    <!--.............................................................................................................-->

    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/class.css">
    <link rel="stylesheet" href="css/id.css">

    <!--.............................................................................................................-->

    <script src="js/majors/E.js"></script>
    <script src="js/majors/toolbox.js"></script>

    <script src="js/majors/listen/loop.js"></script>
    <script src="js/majors/listen/pool.js"></script>

    <script src="js/blocks/views/main.js"></script>
    <script src="js/blocks/views/project.js"></script>

    <script src="js/majors/screen/reroot.js"></script>
    <script src="js/majors/screen/resize.js"></script>
    <script src="js/majors/screen/reload.js"></script>

    <script src="js/majors/database.js"></script>
    <script src="js/majors/html.js"></script>
    <script src="js/majors/click.js"></script>
    <script src="js/majors/hover.js"></script>

    <script src="js/majors/index.js"></script>

    <!--.............................................................................................................-->

  </body>

</html>

