
<!doctype html>

<html class="center">

  <!--...............................................................................................................-->

  <head>
    <title>template</title>
    <meta charset="utf-8">
  </head>

  <!--...............................................................................................................-->

  <body>
    <div id="screen"></div>
  </body>

  <!--...............................................................................................................-->

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/class.css">
  <link rel="stylesheet" href="css/id.css">

  <!--...............................................................................................................-->

  <script src="js/majors/P.js"></script>
  <script src="js/majors/toolbox.js"></script>
  <script src="js/majors/database.js"></script>
  <script src="js/majors/html.js"></script>
  <script src="js/majors/resize.js"></script>

  <script src="js/blocks/views/main.js"></script>
  <script src="js/blocks/views/template.js"></script>

  <script src="js/majors/index.js"></script>

  <!--...............................................................................................................-->

</html>

