
/*....................................................................................................................*/

.column{flex-direction : column}
.pointer{cursor : pointer}
.bold{font-weight : bold}

/*....................................................................................................................*/

.center
{
  display : flex ;
  align-items : center ;
  justify-content : center ;
}

/*....................................................................................................................*/

.mainButton
{
  width : 20% ;
  height : 10% ;
  margin-bottom : 1% ;
  background : #333 ;
  color : #BBB ;
  transition : all 0.3s ;
  font-size : calc(var(--u) * 30) ;
  border-radius : calc(var(--u) * 5) ;
  box-shadow : 0 calc(var(--u) * 5) 0 0 #222 ;
}

.mainButton:hover
{
  background : #444 ;
  color : #DDD ;
  transform : translateY(calc(var(--u) * 2)) ;
  box-shadow : 0 calc(var(--u) * 3) 0 0 #333 ;
}

.mainButton:active
{
  background : #888 ;
  color : #FFF ;
  box-shadow : 0 calc(var(--u) * 3) 0 0 #555 ;
}

